/*
**  define the style for the primary heading in the page  =>heading-primary{
*/
.heading-primary{
    font-family: inherit ;
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.34;
    color: #191414;
}

