/*
**  Font size variables 
*/
$default-font-size: 1.6rem ;



/*
**  Sections PaddingY  variables 
*/


$section-padding-vertically-lg: 8rem;
$section-padding-vertically-md: 7rem;
$section-padding-vertically-sm: 5rem;
$section-padding-vertically-sm: 4rem;


/*
** Colors variables 
*/
$color-primary-light: #9e0a77;
$color-primary: #c4398c ;
$color-primary-dark: #9e0a77;

$color-secondary-light: #72bd72 ;
$color-secondary: #48c548 ;
$color-secondary-dark: #0ff00f ;

$color-white: #ffffff  ;
$color-black: #000000 ;


$color-grey-light: #c5c9cb ;
$color-grey: #8b8e8f ;
$color-grey-dark: #58585a ;

